$col-brand1: #36afa6;
$col-brand2: #00bff3;
$col-brand3: #8d29c1;
$col-brand4: #f06eaa;

$col-green: $col-brand1;
$col-blue: $col-brand2;
$col-purple: $col-brand3;
$col-pink: $col-brand4;

$col-grey: #818181;